.table-row td {
    display: table-cell;
    vertical-align: middle;
}

.img-Model{
    width: 100%;
    height: 100%;
  
}
.modal-approve{
    max-width: 800px;
}

.item-mb div{
    margin-bottom: 1rem;
}

.img-cardID{
    border-radius: 3px;
  width: 100%;
  height: 300px;
  border: 1px solid #0D6628;
  object-fit: contain;
  border: unset;
}