.UpdateProfile__Header {
    display: flex;
    padding-bottom: 1em;
    justify-content: space-between;
}

.UpdateProfile__Header__Left,
.UpdateProfile__Header__Right {
    display: flex;
    align-items: center;
}

.UpdateProfile__Header__Left div {
    font-size: 1.25em;
}

.UpdateProfile__Header__Left img {
    margin-left: 1em;
}

.UpdateProfile__Header__Right img {
    margin-right: 0.5em;
}

.UpdateProfile__Header__Right div {
    color: crimson;
}

.UpdateProfile__Main__FieldItem {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    align-items: center;
    border-top: 1.0.25rem solid rgba(114, 110, 110, 0.5);
}

.UpdateProfile__Main__FieldItem:last-child {
    padding-bottom: 0;
}

.UpdateProfile__Main__FieldName {
    flex-basis: 6.25rem;
    margin-right: 1.75rem;  
    color: #004916;
    font-weight: 500;
    

}

.UpdateProfile__Main__FieldValue {
    flex-grow: 1;
    border: 0;
    background: unset;
    color: black;
}

.UpdateProfile__Main__FieldValue select {
    width: 9.25rem;
    padding: 0.25rem;
}

.UpdateProfile__Main__FieldValue img {
    width: 9.25rem;
    height: auto;
    border-radius: 0.25rem;
    border: 1px solid #afafaf;
    
   
}

.UpdateProfile__Main__FieldEdit {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1em;
    color: #38a89d;
    background-color:unset;
    border: unset;

}
.UpdateProfile__Main__FieldEdit img{
    height: 1.25rem;
}

.UpdateProfile__Main__FieldValue__Warning {
    color: crimson;
    padding-top: 1em;
}

.UpdateProfile__Footer {
    text-align: center;
    margin-top: 1.75rem;
    
}

.UpdateProfile__Footer__Update {
    background: #0D6628;
    color: rgb(255, 255, 255);
    padding: 0.5em 1em;
    border-radius: 2px;

    font-weight: 500;
    transition: opacity 0.5s ease;
}

.UpdateProfile__Footer__Update:hover {
    opacity: 0.9;
}

.UpdateProfile__Footer__Cancel {
    background: crimson;
    color: rgb(255, 255, 255);
    padding: 0.5em 1em;
    border-radius: 2px;
    font-weight: 500;
    margin-left: 0.5em;
    transition: opacity 0.5s ease;
}

.UpdateProfile__Footer__Cancel:hover {
    opacity: 0.9;
}
.type-user{
    color: #004916;
    font-weight: bold;

}
.btn-circle {
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
    padding: 6px 0;

    line-height: 1.428571429;
    border-radius: 10.25rem;
  }
  .btn-circle.btn-lg {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem 16px;

    line-height: 1.33;
    border-radius: 20.25rem;
  }
  .btn-circle.btn-xl {
    width: 4.25rem;
    height: 4.25rem;
    padding: 0.5rem 16px;
    line-height: 1.33;
    border-radius: 30.25rem;
  }
  