.main-layout {
  /* background-image: url("../../images/bgl.jpg"); */
    background-image: url("../../images/Subtle-Prism\ \(1\).svg");
  background-size: 100% auto;
  background-attachment: fixed;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

.mr-unset {
  margin-right: unset;
  padding-right: unset;
}
