.NewPostBox{
    background-color: white;
    border-radius: 0.25rem;
    box-shadow:0  1px 2px gray;
}


.botForm{
    display: flex;
    justify-content: flex-end;
}
.mr-50{
    margin-right: 3rem;
}
.mb-10{
    margin-bottom: 0.5rem;
}
#status-overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.50);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    overflow: hidden;
    }

    .TextBox-input{
 
    width: 100%;
    }

    .imagePost-input{
        margin-left: 0.5rem;
        height: 6.25rem;
        width: auto;
    
    }

    .checkInPost{
        margin: 0.5rem;
        margin-top:0.5rem;
    }
    .btnPost{
        text-align: right;
        margin-bottom: 0.5rem;
        margin-right: 3rem;
    }
    .imagePost-body{
        margin-left: 0.5rem;
    }

    .Newpost-img img {
        width: 100%;
        float: left;
        margin-right: 10.25rem;
        transition: 0.5s;
    }

    .Newpost-img__placeholder {
        width: 100%;
        height: 100%;
        border: 2px dashed gray;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

.Newpost-img__placeholder {
color:gray;
font-size: 64px;
}

    .switch {
        position: relative;
        display: inline-block;
        width: 3.75rem;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .form-group {
        margin-bottom: 0;
        height: 100%;
    }

    .success{
        background-color: #0D6628;
    }

    .success:hover{
        background-color: #527F10;
    }

    .header-1{
        background-color: #004916;
        border: unset;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .text1{
        color: #ecf1e5;
    }

    .Newpost-img__more {
        position: relative;
        overflow:auto;
    }

    .Newpost-img__more div {
        position: absolute;
        left: 0;
        bottom: 0;
        top :0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.50);
        color: white;
        font-size: 1.5rem;
    }