/*
*
* ===========================================================
*     HERO SECTION
* ===========================================================
*
*/
.img-fluid {
  margin-left: 3.75rem;
  height: 12.5rem;
  width: auto;
  margin-bottom: 1.25rem;
}
.postCard {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin: 0px;
  margin-top: 1.25rem;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 1px 2px gray;
  border-top: 0.5rem solid #004916;
}
.post-album {
  border-radius: 3px;
  width: 100%;
  height: 12.5rem;
  border: 1px solid #0d6628;
  object-fit: cover;
}
.post-album-more {
  border-radius: 3px;
  width: 100%;
  max-height: 30rem;
  /* border: 1px solid #0d6628; */
  border: unset;
  object-fit: contain;
}
.header-col {
  max-height: 100%;
}

.icon-button{
  border-right: 1px solid white;
  padding: 0.25rem;
  padding-right: 0.5rem;
  position: 0;

}

.add-btn {
  padding: 0.5rem;
  background-color: #042c38;
}
.add-btn:hover {
  background-color: #387282;
}

.donate-btn {
  padding: 0.5rem;
  background-color: #853b92;
}
.donate-btn:hover {
  background-color: #853b92b9;
}

.new-btn {
  padding: 0.5rem;
  background-color: #d01013;
}
.new-btn:hover {
  background-color: rgba(208, 16, 19, 0.7);
}

.img-slide-style {
  height: 30rem;
  width: 100%;
  object-fit: contain;
}

.menu-post {
  height: 100%;
  width: 100%;
  text-align: right;
  margin-right: -1.25rem;
}

.btn-down {
  list-style: unset;
  background-color: unset;
  border: unset;
  color: #042c38;
  padding: 0.25rem;
  text-align: center;
}

.btn-down:hover {
  background-color: unset;
  border: unset;
  color: #042c38;

  padding: 0.25rem;
}

.menu-post:hover {
  color: #d01013;
  cursor: pointer;
}

.slide-image-post {
  max-width: 800px;
}

.menu-post-item div:hover {
  background-color: silver;
  font-weight: bold;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.menu-post-item div {
  padding: 0.25rem;
}

.img-slide-postCard {
  border-radius: 3px;
  width: 100%;
  height: 500px;
  border: 1px solid #0d6628;
  border: unset;
  object-fit: contain;
}
