/*
*
* ===========================================================
*     HERO SECTION
* ===========================================================
*
*/
.img-fluid{
    margin-left: 60px;
    height: 200px;
    width: auto;
    margin-bottom: 20px;
   
}
.eventCard{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    box-shadow:0  1px 2px gray;
    border-top: 10px solid #004916;
}
.event-album{
    border-radius: 3px;
    max-Width: 100%;
    height: auto;
}

.ListEvent-img__more {
    position: relative;
    overflow:auto;
    width: 88%;
}

.ListEvent-img__more div {
    position: absolute;
    left: 0;
    bottom: 0;
    top :0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.50);
    color: white;
    font-size: 1.5rem;
}

.header-col{
  max-height: 100%;
}

.icon-button{
  border-right: 1px solid white;
  padding: 5px;
  padding-right: 10px;
  position: 0;

}

.add-btn{
  background-color: #042C38;
}
.add-btn:hover{
  background-color: #387282;
}

.donate-btn{
  background-color: #853b92;
}
.donate-btn:hover{
  background-color: #853b92b9;
}

.new-btn{
  background-color: #D01013;
}
.new-btn:hover{
  background-color: rgba(208, 16, 19, 0.7);
}

.img-slide-style{
  height: 500px;
  width: 100%;
}

.item-right{
  display: block;
}