/*
*
* ===========================================================
*     HERO SECTION
* ===========================================================
*
*/
.img-fluid{
    margin-left: 3.75rem;
    height: 12.5rem;
    width: auto;
    margin-bottom: 1.25rem;
   
}
.eventCard{
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    margin: 0px;
    margin-top: 1.25rem;
    padding: 0.5rem;
    background-color: white;
    box-shadow:0  1px 2px gray;
  
    border-top: 0.5rem solid #004916;
    

}
.event-album{
  margin-left: 0.5rem;
  margin-bottom: 1.25rem;
  border-radius: 3px;
  width: 21.25rem;
  height: 13.75rem;
  border: 1px solid #0D6628;
}

.header-col{
  max-height: 100%;
}



.donate-btn{
  background-color: #853b92;
}
.donate-btn:hover{
  background-color: #853b92b9;
}

.new-btn{
  background-color: #D01013;
}
.new-btn:hover{
  background-color: rgba(208, 16, 19, 0.7);
}

.img-slide-style{
  height: 500px;
  width: 100%;
}

.item-right{
  display: block;
}