

col{
    margin: unset;
}

.title-side-body {
    border-bottom: 1px solid gray; 
    padding-bottom: 0.625rem;    
    margin-bottom: 1em;
    color: #004916;
}


.title-text{
    color: #004916;
}
