.body-medal{
  
    display: flex;
  flex-wrap: wrap;
  justify-content: center ;
}
.medal-card{
  
    width: auto;
    height: 9.375rem;
    margin: 0.625rem;
    display: flex;
    justify-content: center ;
    
}
.medal-card img{
    width: auto;
    height: 7.8rem;
}