
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #006363;
}

a:hover {
  color: #006363;
  text-decoration: none;
}

b{
    color: #006363;
}

.item-center{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.item-left{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.item-right{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.item-center-row{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.item-column{
    display: flex;
    flex-direction: column;
}

.text-title-1{
    font-size: 14pt;
    color: #A64B00;
}
.text-title-2{
    font-size: 14pt;
    color: #006363;
}

.text-title-3{
    font-size: 14pt;
    color: #071A71;
}
.text-content-1{
    color: #A64B00;
}
.text-content-2{
    color: #006363;
}

i{
    margin-right: 10px;
}