.body-midSide{
    margin: 20px;
    
    
}
.body-midForm{
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

.input-group-prepend-midSide span {
    width: 50px;
    background-color: pale#0D6628;
    color: black;
    border: 0 !important;
    height: 100%;
    font-size: 20px;
    
}
.fooder-crAccAdmin{
    width: 100%;
    text-align: center;
}
.ml-10{
    margin-left: 10px;
}